<div class="giscus"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo="Okharev/super-amazing-blog"
  data-repo-id="R_kgDONmrkDQ"
  data-category="General"
  data-category-id="DIC_kwDONmrkDc4Cly1T"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="fr"
  crossorigin="anonymous"
  async></script>
